/* Write your CSS here */
/* Hex: #161625
Hex: #2cc6c6
Hex: #cbd5e1
Hex: #ffffff
Hex: #1c1c2b
Hex: #2d87bb
Hex: #a3df9f
Hex: #64c2a6
Hex: #94a3b8
Hex: #f54394
Hex: #5a8dee
Hex: #2cc6c6
Hex: #6c757d
Hex: #5a8dee  */
.app-container {
  display: flex;
  justify-content: center;
  background-color: #161625;
  min-height: 100vh;
}

.cowin-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 1110px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-heading {
  color: #2cc6c6;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  margin-left: 10px;
}

.heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
}

.loading-view {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.failure-view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.failure-image {
  width: 50%;
  margin: 10px;
}

.failure-text {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
}
